# Objects etc.

*.o
bin


# Sample executables

Samples/bandwidthTest/bandwidthTest
Samples/boxFilterNPP/boxFilterNPP
Samples/cannyEdgeDetectorNPP/cannyEdgeDetectorNPP
Samples/conjugateGradientCudaGraphs/conjugateGradientCudaGraphs
Samples/conjugateGradientMultiBlockCG/conjugateGradientMultiBlockCG
Samples/conjugateGradientMultiDeviceCG/conjugateGradientMultiDeviceCG
Samples/cudaNvSci/cudaNvSci
Samples/cudaTensorCoreGemm/cudaTensorCoreGemm
Samples/cuSolverDn_LinearSolver/cuSolverDn_LinearSolver
Samples/cuSolverSp_LinearSolver/cuSolverSp_LinearSolver
Samples/deviceQuery/deviceQuery
Samples/EGLStream_CUDA_Interop/EGLStream_CUDA_Interop
Samples/immaTensorCoreGemm/immaTensorCoreGemm
Samples/jacobiCudaGraphs/jacobiCudaGraphs
Samples/matrixMul/matrixMul
Samples/matrixMulDrv/matrixMulDrv
Samples/memMapIPCDrv/memMapIPCDrv
Samples/MersenneTwisterGP11213/MersenneTwisterGP11213
Samples/NV12toBGRandResize/NV12toBGRandResize
Samples/nvJPEG/nvJPEG
Samples/nvJPEG_encoder/nvJPEG_encoder
Samples/p2pBandwidthLatencyTest/p2pBandwidthLatencyTest
Samples/reduction/reduction
Samples/shfl_scan/shfl_scan
Samples/simpleCUBLAS/simpleCUBLAS
Samples/simpleCUBLASXT/simpleCUBLASXT
Samples/simpleCudaGraphs/simpleCudaGraphs
Samples/simpleCUFFT/simpleCUFFT
Samples/simpleD3D11/simpleD3D11
Samples/simpleD3D12/simpleD3D12
Samples/simpleDrvRuntime/simpleDrvRuntime
Samples/simpleIPC/simpleIPC
Samples/simpleVoteIntrinsics/simpleVoteIntrinsics
Samples/simpleVulkan/simpleVulkan
Samples/systemWideAtomics/systemWideAtomics
Samples/UnifiedMemoryPerf/UnifiedMemoryPerf
Samples/vectorAddMMAP/vectorAddMMAP
Samples/vectorAdd_nvrtc/vectorAdd_nvrtc
Samples/vulkanImageCUDA/vulkanImageCUDA
Samples/warpAggregatedAtomicsCG/warpAggregatedAtomicsCG


# Sample data and other generated files

Samples/matrixMulDrv/data/
Samples/matrixMulDrv/matrixMul_kernel64.ptx
Samples/memMapIPCDrv/data/
Samples/memMapIPCDrv/memMapIpc_kernel64.ptx
Samples/simpleDrvRuntime/data/
Samples/simpleDrvRuntime/vectorAdd_kernel64.fatbin
Samples/vectorAddMMAP/data/
Samples/vectorAddMMAP/vectorAdd_kernel64.ptx
